.modal.fade{
	z-index:-1;
}
.modal.fade.in{
	z-index:1041;
}
.wizard .hormenu li.selected a {
    background: #fcfcfc;
}

.bootpag{
	margin:0px !important;
	float:right;
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 12px;
  line-height: 24px;
  text-decoration: none;
  border: 1px solid #bbb;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background: #f5f5f5;
}
.pagination a{
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}

.EXDataGrid .mediamgr_head{
	margin-bottom: 0px;
	border-bottom: 0px;
}

.EXDataGrid table{
	background: rgb(237,237,237);
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(222,222,222,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(222,222,222,1)));
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
	background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
}